<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>
		<header>
			<%- include('../partials/header.ejs') %>
				<h2>Bienvenue sur le site de la meilleur promo de Simplon !</h2>
		</header>
		<p>Sur ce site vous pourrez voir les projets de chacun, nos prouesses techniques et visuelles mais aussi la progression de tous durant notre formation.</p>

		<p>
			<a href="/users">Les apprenants</a>
			<a href="/projects">Les projets</a>
		</p>

		<footer>
			<%- include('../partials/footer.ejs') %>
		</footer>
	</body>
</html>
